DB_HOST=db
DB_PORT=5432
DB_PASSWORD=pass
DB_USER=app
DB_NAME=app_db

DEBUG=true

DJANGO_SUPERUSER_CREATE=true
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=pass
DJANGO_SUPERUSER_EMAIL=admin@example.com